<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
    <title>About us</title>
    
<!--    <link rel="shortcut icon" type="image/jpg" href="./Images/favicon.png">-->
</head>

<body>
    <section class="sub-header">

            <%- include('partials/header'); %>

        

       <h1>Connections</h1>
   </section>
   <!------------------------------------------------------------Connections Content--------------------------------------------------------------->
   <section class="connections" style="margin:auto;width:90%">
       
           <br>
               
<br>

<h2>Pending Invitations</h2>
<ul class="list-unstyled">
<li class="media">
<div class="row">
           <div class="about-col">    
		<img class="mr-3" src="..." style="width:50px;" alt="Generic placeholder image">
           </div>
           <div class="about-col">
               <div class="media-body">
      <h4 class="mt-0 mb-1">List-based media object</h4>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
     </div>
               
	
             
	<a href="" class="hero-btn blue-btn">Accept</a>	
           </div>
       </div>
</li>
<li class="media">
<div class="row">
           <div class="about-col">    
		<img class="mr-3" src="..." style="width:50px;" alt="Generic placeholder image">
           </div>
           <div class="about-col">
               <div class="media-body">
      <h4 class="mt-0 mb-1">List-based media object</h4>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
     </div>
               
	
             
	<a href="" class="hero-btn blue-btn">Accept</a>	
           </div>
       </div>
</li>
<li class="media">
<div class="row">
           <div class="about-col">    
		<img class="mr-3" src="..." style="width:50px;" alt="Generic placeholder image">
           </div>
           <div class="about-col">
               <div class="media-body">
      <h4 class="mt-0 mb-1">List-based media object</h4>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
     </div>
               
	
             
	<a href="" class="hero-btn blue-btn">Accept</a>	
           </div>
       </div>
</li>
</ul>

<br><br>
<button><input type="submit" value="View Your Connections" onclick="showDiv()"></button>
<br><br>
<div id="connections" style="display:none;">
<h2>Your Connections</h2>
<ul class="list-unstyled">
<li class="media">
<div class="row">
           <div class="about-col">    
		<img class="mr-3" src="..." style="width:50px;" alt="Generic placeholder image">
           </div>
           <div class="about-col">
               <div class="media-body">
      <h4 class="mt-0 mb-1">List-based media object</h4>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
     </div>
               
	
             
		
           </div>
       </div>
</li>
<li class="media">
<div class="row">
           <div class="about-col">    
		<img class="mr-3" src="..." style="width:50px;" alt="Generic placeholder image">
           </div>
           <div class="about-col">
               <div class="media-body">
      <h4 class="mt-0 mb-1">List-based media object</h4>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
     </div>
               
	
             
		
           </div>
       </div>
</li>
<li class="media">
<div class="row">
           <div class="about-col">    
		<img class="mr-3" src="..." style="width:50px;" alt="Generic placeholder image">
           </div>
           <div class="about-col">
               <div class="media-body">
      <h4 class="mt-0 mb-1">List-based media object</h4>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
     </div>
               
	
             	
           </div>
       </div>
</li>
</ul>
</div>
   </section>   
   <!-----------------------------------------------------------------Footer-------------------------------------------------------------------->
   <section class="footer">
    <%- include('partials/footer'); %>
   </section>
 <script src="./js/script.js"></script>
 
</body>
</html>