<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
    <title>Contact us</title>
    
<!--    <link rel="shortcut icon" type="image/jpg" href="./Images/favicon.png">-->
</head>

<body>
    <section class="sub-header">
        <%- include('partials/header'); %>

       <h1>Discover</h1>
    </section>
   <!-----------------------------------------------------------Contact Us Content-------------------------------------------------------------->
   
   <section class="discover">
    
<br>
<div style=" width: 90%;margin: auto;">
 <h1 style="text-align:center;">Discover Connections</h1>
<br>
<label for="domain"><h3>Domain:</h3></label><br>
<div class="custom-select" style="width:200px;">
   <select name="domain" id="domain">
        <option value="1">Web Development</option> 
        <option value="2">Cyber Security</option>
        <option value="3">Blockchain Development</option>
        <option value="4">AI/ML</option>
        <option value="5">Graphic Designing</option>

    </select>
</div>

<ul class="list-unstyled">
  <li class="media">
    <img class="mr-3" src="..." style="width:50px;" alt="Generic placeholder image">
    	
<div class="media-body">
      <h5 class="mt-0 mb-1">List-based media object</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </li>
  <li class="media my-4">
    <img class="mr-3" src="..." alt="Generic placeholder image">
    
  </li>
  <li class="media">
    <img class="mr-3" src="..." alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0 mb-1">List-based media object</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </li>

<li class="media">
    <img class="mr-3" src="..." style="width:50px;" alt="Generic placeholder image">
    	
<div class="media-body">
      <h5 class="mt-0 mb-1">List-based media object</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </li>
  <li class="media my-4">
    <img class="mr-3" src="..." alt="Generic placeholder image">
    
  </li>
  <li class="media">
    <img class="mr-3" src="..." alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0 mb-1">List-based media object</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </li>

 </li>

</ul>
</div>
   </section>
   <%- include('partials/footer'); %>
   <!-----------------------------------------------------------------Footer-------------------------------------------------------------------->
   <section class="footer">
     
   </section>
 <script src="./js/script.js"></script>

</body>
</html>